.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: 2rem;
  
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 2);
}

.list-item-icon {
  width: 32px;
}
