.uwbc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 15vh;
}

#uwbc__image-1{
  scale: 0.95;
  border-radius: 10px;
  transition: all 50ms ease-in-out;
}

#uwbc__image-2 {
  scale: 0.75;
  border-radius: 10px;
}

#uwbc__image-3 {
  scale: 0.95;
  border-radius: 10px;
}