.socials-container {
  position: fixed;
  bottom: 10px;
  z-index: 10; /* Ensure it's above other content */;
}

.socials-parent {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.socials-parent__item{
  width: 32px;
  cursor: pointer;
  object-fit: contain;
}
.socials-parent__item:hover {
  transform: scale(1.1);
}
.socials-parent__item:active {
  transform: scale(0.9);
}