.socials-container {
  align-self: baseline;
}

.socials-parent {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.socials-parent__item{
  width: 32px;
  cursor: pointer;
}
.socials-parent__item:hover {
  transform: scale(1.1);
}
.socials-parent__item:active {
  transform: scale(0.9);
}