.app__container{
  height: 69vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15vh;
  padding-bottom: 15vh;
  padding-left: 20vh;
  padding-right: 20vh;
}

.app__container__right-container {
  width: 50%;
  border: 2px solid rgb(114, 141, 250);
}

.app__container__left-container {
  width: 50%;
  border: 2px solid salmon;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.app__container__left-container__title {
  display: flex;
  flex-direction: column;
  border: 2px solid red;

}
.app__title-name {
  font-size: 3rem;
  letter-spacing: -0.025em;
  font-weight: 700;
  border: 2px solid black;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}

.app__title-name:hover {
  transform: scale(1.1);
}

.app__title-name:active {
  transform: scale(0.9);
}

.app__title-subtitle {
  font-size: 1.25rem;
  letter-spacing: -0.025em;
  font-weight: 500;
  border: 2px solid black;
  width: fit-content;
}

.app__container__left-container__projects-list {
  border: 2px solid salmon;
}
