body {
  margin: 0;
}
.app__main-container{
  position: absolute;
  left: 3%;
  padding: 30px;
  max-width: 1280px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__header-logo {
  cursor: pointer;
  transition: all 50ms ease-in-out;
}

.app__header-logo:hover {
  transform: scale(1.1);
}

.app__header-logo:active {
  transform: scale(0.9);
}

.socials-parent {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.socials-parent__item{
  width: 32px;
  cursor: pointer;
}
.socials-parent__item:hover {
  transform: scale(1.1);
}
.socials-parent__item:active {
  transform: scale(0.9);
}


.app__main-content {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.app__main-content__highlighted {
  width: 50%;
}

.app__main-content__projects-list {
  width: 50%;
  display: flex;
  flex-direction: column;
}
