.app-container{
  padding-left: 6rem;
  padding-right: 6rem;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: auto;
}



.app-container__header {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 12rem);
  width: 50%;
  position: sticky;
  top: 0;
}

.title-name {
  font-size: 3rem;

  cursor: pointer;
}


.title-profession {
  font-size: 1.25rem;
}

.title-subtext{
  padding-top: 1rem;
  font-size: 1rem;
}

#main {
  padding-top: 6rem;
  padding-bottom: 6rem;
  border: salmon 1px solid;
  width: 50%;
  height: fit-content;
}





