:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { 
    font-family: 'Inter var', sans-serif; 
    font-feature-settings: 'cv11';
  }
  
}

body {
  color: #d1d1d1;
  background-color: #1d1d20;
  height: 100vh;
}

body,html {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}