@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body {
  color: #d1d1d1;
  background-color: #1d1d20;
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100vh;
}

body,html {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}